#############################
# Gitignore for Eclipse-two #
#############################


#########
# IDE's #
#########


# JetBrains #
/.idea/

# Visual Studio #
/.vs/


###########
# Node JS #
###########

/node_modules/


##########
# Output #
##########

/dist/

