html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e1e;
}

two-dashboard {
    color: white;
    padding: 10px;
}
two-ide > .two-tab-header {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

two-ide > .two-tab-header two-tab {
    float: left;
}

two-ide > .two-tab-header a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

two-ide > .two-tab-header a:hover {
    background-color: #111;
}

two-ide > .two-tab-header .two-tab-active {
    background-color: #4caf50;
}

nav.editortabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.editortabs two-editortab {
    float: left;
    color: white;
    padding: 0px 10px;
}

nav.editortabs a {
    color: white;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
}

nav.editortabs two-editortab:hover {
    background-color: #111;
}

nav.editortabs two-editortab.active {
    background-color: #4caf50;
}

two-fileexplorer .fa-ul {
    margin-left: 1.5em;
}

two-fileexplorer .fa-li {
    left: -1.5em;
    width: 1.5em;
}

two-fileexplorer .fa-li.folder {
    color: #dd0;
}

two-fileexplorer .fa-li.file {
    color: white;
}

two-fileexplorer a {
    text-decoration: none;
    color: white;
}

two-github button,
two-github input {
  outline: none;
}

#github-controls {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  background-color: #eee;
}

#github-controls button,
#github-controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

two-github button,
two-github input[type="submit"],
two-github button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

two-github button:hover,
two-github input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

two-github button:active,
two-github input[type="submit"]:active {
  border-color: #bbb;
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#github-controls #github-home,
#github-controls #github-terminate {
  font-size: 24px;
}

#github-controls #github-reload {
  font-size: 20px;
}

#github-location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#github-controls {
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#github-controls #github-location-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#github-controls #github-center-column {
  -webkit-flex: 1;
}

/* The reload button turns into a spinning trobber */
.loading #reload {
  -webkit-animation: spinner-animation .5s infinite linear;
  -webkit-transform-origin: 50% 55.5%;
}

@-webkit-keyframes spinner-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}
